.logo-style img{
    width: 180px;
    height: 60px;
    margin: 40px;
}
.logo-style {
    margin-left: 130px;
    text-align: left;
}
.bg-image {
  
    height: 650px;
    background-image: url(../../../images//bannerbackground.png);
    background-repeat: no-repeat;
    padding-top: 200px;
    
}
.bg-image  h1{
   margin-left: 500px;
   font-size: 45px;
   font-weight: 700px;
}
.input-style {
    margin-left: 400px;
    margin-top: 20px;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    padding-right: 200px;
    border-radius: 30px;
}
.btn-style {
    background-color: rgb(228, 40, 71);
    border: 1px solid pink;
    padding: 10px 30px;
    border-radius: 30px;
}